*{
    font-family: 'Inter';
}

.title{
    color: #343331;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.description{
    
}

#itemCard{
    border: 1px solid #2A7FB8B2;
    border-radius: 10px!important;
}

#itemCard a{
    width: 100%;
    border-radius: 20px!important;
    color: #fff!important;
    background-color: #2A7FB8!important;
}